@import "../bower/Materialize/dist/css/materialize.css";
.flash {
  color: #FFFFFF;
  text-align: center;
  display: none;
}
.flash p {
  padding: 10px;
  margin: 0px;
  font-weight: bold;
}
.bigger {
  font-size: 1.3rem;
}
.spaced-right {
  margin-right: 10px;
}
#loader {
  display: none;
}
.action_links a {
  font-size: 20px;
  margin: 15px;
}
